:root {
  --green: #198754;
  --red: #dc3545;
}
body {
  background-color: white;
  color: black;
  font-size: 18px;
  margin: 0;
  padding: 0;
}
.heading {
white-space: nowrap;
font-size: 2.5em;
font-weight: 700;
margin-bottom: 20px;
}
.mylist {
  margin: 0 2px 0 2px;
  width: 95%;
}
li.list-group-item {
  cursor: pointer;
  position: relative;
  padding: 8px 10px 8px 40px;
  list-style-type: none;
  background: #fff;
  font-size: 18px;
  transition: 0.3s;
  user-select: none;
}
li.checked.list-group-item {
  background: #888;
  color: white;
  text-decoration: line-through;
}
li.checked.list-group-item::before {
  content: '';
  position: absolute;
  border-color: white;
  border-style: solid;
  border-width: 0 3px 3px 0;
  top: 15px;
  left: 15px;
  transform: rotate(45deg);
  height: 25px;
  width: 10px;
}
.lsbtn {
  padding: 5px 8px;  
  font-size: 1.2em;
  user-select: none;
  z-index: 999;
}
.smbtn {
  padding: 3px 5px;  
  font-size: 1em;
  user-select: none;
  z-index: 999;        
}
.header {
  background-color: var(--green);
  padding: 20px;
  color: white;
  text-align: center;
}
.date {
  font-size: 1em;
  font-family: monospace;
  cursor: help;
} 
/* drag handle image */
.drag-handle {
  width: 28px; 
  cursor: move;
}
/* outline during drag and drop */
.bordered-item {
  border: 2px dashed red;
}
/* small screen styles */
@media only screen and (max-width: 576px) {
  .mylist {
    width: 85%;
  }
  .heading {
    font-size: 1.4em;
    margin-bottom: 10px;
  }
  li.checked.list-group-item::before {
    top: 13px;
    left: 13px;
  }
}